body {
  background-color: black;
  background-position: center;
  margin: 0px;
  min-height: 100%;
  padding-bottom: 30px;
  background-clip: padding-box;
  box-shadow: inset 0 0 40px rgba(148, 2, 2, 0.486);
  border-left: 50px solid rgba(148, 2, 2, 0.452);
  border-right: 50px solid rgba(148, 2, 2, 0.411);

}

html {
  margin: 0px;
  height: 100%;

}

h1 {
  color: red;
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

p {
  color: red;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.5;
}

h4 {
  color: rgb(106, 22, 214);
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  text-underline-position: under;
}

button {
  border-radius: 2px;
  border-color: white;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 350px;
  height: 200px;
}

div {
  margin-left: 30px;
  margin-top: 30px;
}

.portrait {
  width: 300px;
  height: 300px;
}